.pure-img{
  width: 35%;
  margin: 0 auto;
}
.header{
  padding:10px;
}

.animation{
  width:30%;
}
.img-container{
  background-color: #333;
  color: #eee;
  text-align: center;
}
.param-cell{
  text-align: right;
  padding-right: 10%;
  font-size: 1.5em;
  vertical-align: middle;
  padding-top: 10px;
}

.pure-g{
  display: block;
}

.pure-button{
  margin-bottom: 2em;
  
}
@media only screen and (max-width : 960px){
  .pure-img{
    width: 70%;
    margin: 0 auto;
  }
}
@media only screen and (max-width : 480px){
  .pure-img{
    width: 100%;
  }
  .param-cell{
    font-size: 100%;
    padding-top: 0px;
  }
}
